name: Publish release
on:
  push:
    branches: [ master ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: start X server
      run: |
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        echo "DISPLAY=:99" >> $GITHUB_ENV
    - uses: actions/checkout@v2
    - name: detect version
      uses: EndBug/version-check@v1
      id: check
      with:
        diff-search: true # seach the diff content with version
    - if: steps.check.outputs.changed == 'true'
      run: npm ci
    - if: steps.check.outputs.changed == 'true'
      run: npm test
    - name: package
      if: steps.check.outputs.changed == 'true'
      run: npm run package
    - name: publish to Github
      uses: ncipollo/release-action@v1
      if: steps.check.outputs.changed == 'true'
      with:
        artifacts: "vscode-clangd-*.vsix"
        tag: ${{ steps.check.outputs.version }}
        commit: ${{ steps.check.outputs.commit }}
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: publish to VSCode Marketplace
      if: steps.check.outputs.changed == 'true'
      # The token will expire. Regenerate it at:
      # https://llvm-vs-code-extensions.visualstudio.com/_usersSettings/tokens.
      run: npm run publish -- -p "${{ secrets.VSCODE_MARKETPLACE_TOKEN }}"
    - name: publish to OpenVSX
      if: steps.check.outputs.changed == 'true'
      # The token will expire. Regenerate it at:
      # https://open-vsx.org/user-settings/tokens
      run: npm run publish-openvsx -- -p "${{ secrets.OPENVSX_TOKEN }}"
