name: Publish to VSCode marketplace
on:
  push:
    branches: [ master ]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: start X server
      run: |
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        echo "::set-env name=DISPLAY:::99"
    - uses: actions/checkout@v2
    - name: detect version
      uses: EndBug/version-check@v1
      id: check
      with:
        diff-search: true # seach the diff content with version
    - if: steps.check.outputs.changed == 'true'
      run: npm ci
    - if: steps.check.outputs.changed == 'true'
      run: npm test
    - name: publish
      if: steps.check.outputs.changed == 'true'
      # The token will be expired in on 12/31/2020. Regenerate it at
      # https://llvm-vs-code-extensions.visualstudio.com/_usersSettings/tokens.
      run: npm run publish -- -p "${{ secrets.VSCODE_MARKETPLACE_TOKEN }}"

